.article-section {
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.article-item {
  background: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 15px 5px;
}

.article-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 30px;
}

.article-btn {
  width: 50% !important;
}

.article-image {
  max-height: 100%;
  max-width: 100%;
}

.article-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

@media screen and (max-width: 1068px) {
  .article-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 20px;
    width: 80%;
  }
}
